*{
 color: #fff;   
}
body{
    background:url(fotos-paisajes-bosques.jpg);
    background-size: cover;
    font-family: "Arima Madurai";
}
h1, p{color: #fff; font-weight: bolder}
.imgparrot{
    width: 120px;
}
.but button{
    border-bottom: 2px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}
.but a{
    color: #fff;
    text-decoration: none;
}
