*{
 color: #fff;   
}
body{
    background:url(fotos-paisajes-bosques.jpg);
    background-size: cover;
    font-family: "Arima Madurai";
}
h1, p{color: #fff; font-weight: bolder}
.imgparrot{
    width: 120px;
}
